.navbar{
    background-color: #D6DFE9;
}
.quem-somos{
    background-color: #BBC7D5;
    color:white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #5D6D7E;
}

.bg-footer{
    background-color: black;
}

.letra{
    color: white;
}